:root{
    --text-color:#68507b;
    --background-header:#a495bf;
    --icon:#46315c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    
}
::selection{
    background-color: #68507b;
    color: aliceblue;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a495bf;
    position: relative;
    height: 70px;
    margin-bottom: 36px;
}
.logo{
    color: #fff;
    font-size:30px ;
    text-decoration: none;
 
}
.logo span{
    color: var(--icon);
   font-weight: bold;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    
}
nav ul li a{
   text-decoration: none;
   color: #fff;
}
nav ul li a:hover{
    color: #46315c;
}


.menu-icon{
    display: none;
}
.menu-icon i{
    color: #fff;
    font-size: 20px;
}
nav .menu-icon i{
    color: #46315c;
}
@media(max-width:600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction:column ;
        text-align: center;
        background-color: #a495bf;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
       
    }
    #menuList{
        transition: all 0.5s;
        z-index: 1000;
    }
    .logo{
        font-size: 20px;
       
    }
}





























